@media only screen and (min-width: 200px) and (max-width:575px){
    .mybtn{
        position: fixed;
        bottom: 0;
        width: 100%;
        justify-content: center;
        left: 0;

    }
    .bannerhead h1 {
        font-weight: 700;
        font-size: 30px;
        line-height: 38px;
    }
    .bannerhead p {
        font-size: 16px;
        font-weight: 400;
        line-height: 25px;
    }
    .bannerlist li {
        list-style: none;
        font-size: 16px;
        font-weight: 400;
        line-height: 33px;
    }
    .btn-1{
        margin-bottom: 16px;
        width: 100%;
    }
    .btn-2{
        width: 100%;
    }
    .contbtn{
        display: flex;
        flex-direction: column;
        justify-content: center;
        z-index: 2;
    }
    .bannerForm{
        margin-top: 48px;
        
    }
    .bannerForm p br{
        display: none;
    }
    .mclass{
        margin: 24px;
    }
    .highlight-row-sec h1{
        font-size: 28px;
        font-weight: 700;
    }
    .highlight-text-area h4{
        font-size: 18px;
        font-weight: 600;
    }
    .highlight-text-area p{
        font-size: 14px;
        font-weight: 400;
    }
    .career-sub-sec h1{
        font-size: 28px;
        font-weight: 700;
    }
    .career-sub-sec p{
        font-size: 14px;
        font-weight: 400;
    }
    .box-text p{
        font-size: 14px;
    }
    
}
@media (min-width: 1400px) {
    .container, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl {
        max-width: 1170px;
    }
}